<section class="benefits section" id="benefits">
  <div class="container benefits-container">
    <h2 class="benefits-title">Переваги роботи зо мнов</h2>
    <ul class="benefits-list list">
      <li class="benefits-list-item">
        <div class="benefits-list-icon-wrapper">
          <svg
            class="benefits-list-icon"
            width="24"
            height="24"
            aria-label="user icon"
          >
            <use href="./images/icons/sprite.svg#icon-user"></use>
          </svg>
        </div>
        <h3 class="benefits-list-title">Удобство</h3>
        <p class="benefits-list-text">
          Так як я дуже лінивий хуй, ви всьо будете робити самі
        </p>
      </li>
      <li class="benefits-list-item">
        <div class="benefits-list-icon-wrapper">
          <svg
            class="benefits-list-icon"
            width="32"
            height="32"
            aria-label="chocolate icon"
          >
            <use href="./images/icons/sprite.svg#icon-message"></use>
          </svg>
        </div>
        <h3 class="benefits-list-title">Комунікація</h3>
        <p class="benefits-list-text">
          Розуміючи вашу ситуацію я можу помочи вам свойим філософський совєтом в любий момент
        </p>
      </li>
      <li class="benefits-list-item">
        <div class="benefits-list-icon-wrapper">
          <svg
            class="benefits-list-icon"
            width="32"
            height="32"
            aria-label="chocolate icon"
          >
            <use href="./images/icons/sprite.svg#icon-brush"></use>
          </svg>
        </div>
        <h3 class="benefits-list-title">Креативність</h3>
        <p class="benefits-list-text">
         Дякуюючи тому шо я креативнй з народження, я годен удумати худь яку проблему би ви пак дале з неї випутувалися
        </p>
      </li>
      <li class="benefits-list-item">
        <div class="benefits-list-icon-wrapper">
          <svg
            class="benefits-list-icon"
            width="32"
            height="32"
            aria-label="chocolate icon"
          >
            <use href="./images/icons/sprite.svg#icon-hourglass"></use>
          </svg>
        </div>
        <h3 class="benefits-list-title">Дедлайн</h3>
        <p class="benefits-list-text">
          Я розумію як время для вас важливе, того буду старатися робити всьо бистро (доки не доїм пудбивку)
        </p>
      </li>
    </ul>
  </div>
  <div class="order">
    <a class="order-the-project link" href="#order-section"
      >Заказати Бодьку</a
    >
  </div>
</section>
