<section class="faq-container container" id="FAQ">
  <p class="faq-page">Питаннячка</p>

  <ul class="accordion-container">
    <li class="ac" id="ac-1">
      <div class="ac-question">
        <h2 class="ac-header">
         Шо в замен ви можете дати?
        </h2>

        <button
          type="button"
          class="ac-trigger more-btn"
          id="ac-button-1"
        ></button>

      </div>
      <div class="ac-panel">

        <p class="faq-text">
          Нич, ко ви такі би я вам шось давав?
        </p>
        
      </div>
    </li>
    <li class="ac" id="ac-2">
      <div class="ac-question">
        <h2 class="ac-header">Куко грошей кошутє ваш проект?</h2>
        <button
          type="button"
          class="ac-trigger more-btn"
          id="ac-button-2"
        ></button>
      </div>
      <div class="ac-panel">
        <p class="faq-text">
          Спустися долу та бдеш знати.
        </p>
      </div>
    </li>
    <li class="ac" id="ac-3">
      <div class="ac-question">
        <h2 class="ac-header">В якуй валюті ви принімаєте оплату?</h2>
        <button
          type="button"
          class="ac-trigger more-btn"
          id="ac-button-3"
        ></button>
      </div>
      <div class="ac-panel">
        <p class="faq-text">
          Та в любуй, гроші не пахнуть.
        </p>
      </div>
    </li>
    <li class="ac" id="ac-4">
      <div class="ac-question">
        <h2 class="ac-header">Як мені з вами звязатись?</h2>
        <button
          type="button"
          class="ac-trigger more-btn"
          id="ac-button-4"
        ></button>
      </div>
      <div class="ac-panel">
        <p class="faq-text">
          Свисни 3 раза, повернись 8 раз, поклади на стул пудбивку і я появлюсь.
        </p>
      </div>
    </li>
    <li class="ac" id="ac-5">
      <div class="ac-question">
        <h2 class="ac-header">Зашто я маю взяти ваш продукт?</h2>
        <button
          type="button"
          class="ac-trigger more-btn"
          id="ac-button-5"
        ></button>
      </div>
      <div class="ac-panel">
        <p class="faq-text">
          А не важно.
        </p>
      </div>
    </li>
    <li class="ac" id="ac-6">
      <div class="ac-question">
        <h2 class="ac-header">
          Який у вас досвід роботи в сфері ескорта?
        </h2>
        <button
          type="button"
          class="ac-trigger more-btn"
          id="ac-button-6"
        ></button>
      </div>
      <div class="ac-panel">
        <p class="faq-text">
          Повно...
        </p>
      </div>
    </li>
  </ul>
</section>
