<section class="hero">
  <div class="container hero-box">
    <div class="t">
      <h1>
        <span class="t1">Здоров пацане</span><br>
        <span class="t2">Я Бодя Гричка</span> 
        <span class="t3">лютєйший криптоінвестор</span>
      </h1>
    </div>
    <div class="l">
      <ul class="hero-link-list">
        <li>
          <a
            class="social-link"
            target="_blank"
            href="https://www.instagram.com/og_boodya/"
            >IG</a
          >
        </li>
        <li>
          <a
            class="social-link"
            target="_blank"
            href="https://www.youtube.com/@dangervac7937"
            >YT</a
          >
        </li>
        <li>
          <a class="contacts-list-link" href="mailto:bodyagrichka@gmail.com"
            >bodyagrcihka@gmail.com</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
