<section id="projects-section">
  <div class="project-container container">
    <h2 class="projects-section-title">Projects</h2>
    <div class="projects-swiper projects-list-wrapper">
      <ul class="swiper-wrapper projects-list">
        <li class="swiper-slide projects-list-item">
          <div class="project-description">
            <ul class="project-tech-list">
              <li class="project-tech-list-item">#дєньги</li>
              <li class="project-tech-list-item">#криптоінвестор</li>
              <li class="project-tech-list-item">#бодя</li>
              <li class="project-tech-list-item">#босс</li>
            </ul>
            <h3 class="project-title">
              Се я туйка тіпа дуже босс криптоінвестор
            </h3>
            <a
              class="project-link"
              target="_blank"
              href="https://github.com/NazarHook/full-stack-force"
              >See project</a
            >
          </div>
          <div class="project-cover">
            <picture>
              <source
                srcset="
                  ./images/bodya/bodyagraphic.jpeg 1x,
                  ./images/bodya/bodyagraphic.jpeg   2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                ./images/bodya/bodyagraphic.jpeg 1x,
                ./images/bodya/bodyagraphic.jpeg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                ./images/bodya/bodyagraphic.jpeg 1x,
                ./images/bodya/bodyagraphic.jpeg   2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="project-cover-img"
                src="./images/bodya/bodyagraphic.jpeg"
                alt="Programming Across Borders: Ideas, Technologies, Innovations"
              />
            </picture>
          </div>
        </li>
        <li class="swiper-slide projects-list-item">
          <div class="project-description">
            <ul class="project-tech-list">
              <li class="project-tech-list-item">#спортік</li>
              <li class="project-tech-list-item">#зал</li>
              <li class="project-tech-list-item">#фітоняшка</li>
              <li class="project-tech-list-item">#БодяБілдер</li>
            </ul>
            <h3 class="project-title">
              А се я в залі, дуже крутий і накачаний
            </h3>
            <a
              class="project-link"
              target="_blank"
              href="https://github.com/NazarHook/full-stack-force"
              >See project</a
            >
          </div>
          <div class="project-cover">
            <picture>
              <source
                srcset="
                  ./images/bodya/434330271_1084350329488558_4852377404258031235_n.jpg 1x,
                  ./images/bodya/434330271_1084350329488558_4852377404258031235_n.jpg   2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                ./images/bodya/434330271_1084350329488558_4852377404258031235_n.jpg 1x,
                ./images/bodya/434330271_1084350329488558_4852377404258031235_n.jpg   2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                ./images/bodya/434330271_1084350329488558_4852377404258031235_n.jpg 1x,
                ./images/bodya/434330271_1084350329488558_4852377404258031235_n.jpg   2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="project-cover-img"
                src=" ./images/bodya/434330271_1084350329488558_4852377404258031235_n.jpg"
                alt="Programming Across Borders: Ideas, Technologies, Innovations"
              />
            </picture>
          </div>
        </li>
        <li class="swiper-slide projects-list-item">
          <div class="project-description">
            <ul class="project-tech-list">
              <li class="project-tech-list-item">#футбол</li>
              <li class="project-tech-list-item">#сігма</li>
              <li class="project-tech-list-item">#зал</li>
              <li class="project-tech-list-item">#неймар</li>
            </ul>
            <h3 class="project-title">
              Се я ухопив на бушці футболку клуба, так шо я туй дуже крутий футболіст
            </h3>
            <a
              class="project-link"
              target="_blank"
              href="https://github.com/NazarHook/full-stack-force"
              >See project</a
            >
          </div>
          <div class="project-cover">
            <picture>
              <source
                srcset="
                ./images/bodya/434510313_831217989043042_7773696290726969229_n.jpg 1x,
                ./images/bodya/434510313_831217989043042_7773696290726969229_n.jpg   2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                ./images/bodya/434510313_831217989043042_7773696290726969229_n.jpg 1x,
                ./images/bodya/434510313_831217989043042_7773696290726969229_n.jpg   2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                ./images/bodya/434510313_831217989043042_7773696290726969229_n.jpg 1x,
                ./images/bodya/434510313_831217989043042_7773696290726969229_n.jpg   2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="project-cover-img"
                src=" ./images/bodya/434510313_831217989043042_7773696290726969229_n.jpg"
                alt="Programming Across Borders: Ideas, Technologies, Innovations"
              />
            </picture>
          </div>
        </li>
      </ul>
    </div>
    <div class="projects-pagination">
      <button class="prev-project-btn project-pagination-btn">
        <svg class="project-pagination-arrow">
          <use href="./images/icons/sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button class="next-project-btn project-pagination-btn">
        <svg class="project-pagination-arrow">
          <use href="./images/icons/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
